Project/alarm.xtext.tests/test-bin/alarm/xtext/tests/.AlarmParsingTest.xtendbin
Project/alarm.xtext.tests/xtend-gen/alarm/xtext/tests/.AlarmParsingTest.xtendbin
Project/alarm.xtext/bin/alarm/xtext/formatting2/.AlarmFormatter.xtendbin
Project/alarm.xtext/bin/alarm/xtext/generator/.AlarmGenerator.xtendbin
Project/alarm.xtext/xtend-gen/alarm/xtext/formatting2/.AlarmFormatter.xtendbin
Project/alarm.xtext/xtend-gen/alarm/xtext/generator/.AlarmGenerator.xtendbin

ProjectJS/dist/
