<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            allPopups="false"
            locationURI="popup:org.eclipse.ui.popup.any?after=additions">
         <command
               commandId="alarm.generate.arduino"
               label="Generate arduino file"
               style="push">
            <visibleWhen
                  checkEnabled="true">
               <with
                     variable="activeMenuSelection">
                  <iterate
                        ifEmpty="false"
                        operator="and">
                     <adapt
                           type="alarm.App">
                     </adapt>
                  </iterate>
               </with>
            </visibleWhen>
         </command>
      </menuContribution>
   </extension>
   <extension
         point="org.eclipse.ui.handlers">
      <handler
            class="alarm.ui.handler.GenerateArduinoFile"
            commandId="alarm.generate.arduino">
      </handler>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="alarm.generate.arduino"
            name="generate arduino">
      </command>
   </extension>

</plugin>
