<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated alarm -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="alarm.presentation.alarmModelWizardID"
            name="%_UI_alarmModelWizard_label"
            class="alarm.presentation.alarmModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/alarmModelFile.gif">
         <description>%_UI_alarmModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated alarm -->
      <editor
            id="alarm.presentation.alarmEditorID"
            name="%_UI_alarmEditor_label"
            icon="icons/full/obj16/alarmModelFile.gif"
            extensions="alarm"
            class="alarm.presentation.alarmEditor"
            contributorClass="alarm.presentation.alarmActionBarContributor">
      </editor>
   </extension>

</plugin>
