<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated dSL -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="dSL.presentation.DSLModelWizardID"
            name="%_UI_DSLModelWizard_label"
            class="dSL.presentation.DSLModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DSLModelFile.gif">
         <description>%_UI_DSLModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated dSL -->
      <editor
            id="dSL.presentation.DSLEditorID"
            name="%_UI_DSLEditor_label"
            icon="icons/full/obj16/DSLModelFile.gif"
            extensions="dsl"
            class="dSL.presentation.DSLEditor"
            contributorClass="dSL.presentation.DSLActionBarContributor">
      </editor>
   </extension>

</plugin>
